select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    background-color: transparent;
    font-family: inherit;
    font-size: 0.9rem;
    color: #111;
}
